*{
    position:relative;
    margin:0;
    padding:0;
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    box-sizing: border-box;
}

body{
    width:100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-fomt-smoothing: grayscale;
    }


 //service

  #services{
    height:60vh;
    width:100vw;
    background-color:blue;
  }